.accordion-container {
    margin: 20px 0;
    width: 60vw;
    display: block;
    margin-left: 20vw;
    margin-right: auto;
}

.accordion-container .accordion-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 16px;
    transition-property: height;
    transition: 4s all;
}
.accordion-container .accordion-body p {
    margin: 0 0 10px;
}
.accordion-container label {
    cursor: pointer;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: black;
    background-color: rgba(252, 215, 29, 0.785);
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;  
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.accordion-container input{
    display: none;
}
.accordion-container:hover label:before {
    content: '+';
    float: right;
}
.accordion-container input:checked + label {
    background-color: rgba(0, 0, 0, 0.769);
    color: rgba(252, 215, 29);
}
.accordion-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(45deg);
}
.accordion-container input:checked + label + .accordion-body {
    height: 500px;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
    transition-property: height;
    transition: 2s all;
}

.accordion-container input:hover + label + .accordion-body  {
    height: 500px;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
    transition-property: height;
    transition: 2s all;
    background-color: aliceblue;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}